.header{
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}
.header span{
    margin-left: auto;
}
.createCourse{
    padding: 10px;
}
.course-title{
    width: 70%;
    padding: 9px;
    margin: 7px 0px;
}

.input-11 {
    width: 490px;
    
    padding: 12px;
    border: none;
    border-radius: 4px;
    box-shadow: 2px 2px 7px 0 rgb(0, 0, 0, 0.2);
    outline: none;
    color: rgb(0, 0, 0);
  }
  
  .display-11 {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    width: 550px;
    border-radius: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 300px;
    padding: 5px;
  }
  
  
  
  .display-full-11 {
    margin: 0px;
    margin-left: 0px;
  }
  
  .button-11 {
    background-color: royalblue;
    width: 150px;
    padding: 10px 0px 10px 0px;
    transition: none; 
    border-radius: 5px;
    margin-left: 450px;
    margin-top: 5px;/* Remove transition effect */
  }
  
  .button-11:hover {
    /* Remove hover effect */
    background-color: royalblue;
  }

  @media (300px <= width <= 600px){
    .input-11 {
      width: 300px;
      
      padding: 12px;
      border: none;
      border-radius: 4px;
      box-shadow: 2px 2px 7px 0 rgb(0, 0, 0, 0.2);
      outline: none;
      color: rgb(0, 0, 0);
    }
    
    .display-11 {
      display: flex;
      flex-direction: column;
      background-color: rgb(255, 255, 255);
      width: 350px;
      border-radius: 10px;
      margin-top: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
      padding: 5px;
    }
    
    .display-full-11 {
      margin: 0px;
      margin-left: 5px;
    }
    
    
    
    .button-11 {
      background-color: royalblue;
      width: 150px;
      transition: none; 
      margin-left: 70px;/* Remove transition effect */
    }
    
    .button-11:hover {
      /* Remove hover effect */
      background-color: royalblue;
    }
  
  }

  

  