.quizSearch{
    width: 75%;
    margin: 10px 0px;
    padding: 7px;
    margin-right: auto;
}
.review-page{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.searchContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.review-search{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid black;
    padding: 5px;
    width: fit-content;
    gap: 5px;
    margin: 0px 4px;
    cursor: pointer;
}
.review-icon{
    font-size: 18px;
}
.review-section{
    margin-top: 14px;
    color: grey;
}